<% include ./partials/header.ejs %>

<!-- 3 social -->
    <h2>Social media</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/Assets/images/Instagram.png" alt="Instagram">
          <div class="card-body">
            <h4 class="card-title">Instagram</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.instagram.com/pa.pa.sita/">https://www.instagram.com/</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/Assets/images/Facebook.png" alt="Facebook">
          <div class="card-body">
            <h4 class="card-title">Facebook</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.facebook.com/profile.php?id=100002112147959">https://www.facebook.com/</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/Assets/images/LinkedIn.png" alt="">
          <div class="card-body">
            <h4 class="card-title">LinkedIn</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/abubakir-myrzaly-449195124/">https://www.linkedin.com/</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- 3 social -->
    <h2>Social media</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/Assets/images/Instagram.png" alt="Instagram">
          <div class="card-body">
            <h4 class="card-title">Instagram</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.instagram.com/pa.pa.sita/">https://www.instagram.com/</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/Assets/images/Facebook.png" alt="Facebook">
          <div class="card-body">
            <h4 class="card-title">Facebook</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.facebook.com/profile.php?id=100002112147959">https://www.facebook.com/</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/Assets/images/LinkedIn.png" alt="">
          <div class="card-body">
            <h4 class="card-title">LinkedIn</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/abubakir-myrzaly-449195124/">https://www.linkedin.com/</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

<% include ./partials/footer.ejs %>