<% include ../partials/header.ejs %>

    <div class="row">
      <div class="col-lg-4 mb-2">
        <div class="card h-100 text-center">
          <img class="img-fluid rounded mb-2" src="/Assets/images/me.jpeg" alt="image of me">
        </div>
      </div>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-lg-4 mb-2">
       <h2>Personal Information</h2>
        <h5>Name: Abubakir Myrzaly </h5>
        <p>I am studying Software Engineering and Technology in Centennial College(Draduation by April,2019). Detail-oriented individual with skills in utilizing a variety of platforms; effective communication skills to explain complex software issues to customers and clients. Skills in object-oriented software design, user-oriented interface design, algorithm concepts, and data management tools. </p>
        <a href="/Assets/images/Resume.pdf" class="btn btn-primary">View My Resume</a>
              
      </div>

<% include ../partials/footer.ejs %>